/Calculator_AWT/build/
/SchoolManagementSystem/nbproject/private/
/cal3/nbproject/private/
/cal3/build/
/SchoolManagementSystem/build/
/day04/nbproject/private/
/day04/build/
/day03/nbproject/private/
/day05/nbproject/private/
/day05/build/
/day06/nbproject/private/
/day06/build/
/day07/nbproject/private/
/day07/build/
/Project1/nbproject/private/
/Project1/build/
/Project4/nbproject/private/
/Project4/build/
